.aside:hover {
  width: 16rem;
  transition: all;
  transition-duration: 500ms;
}

.aside {
  transition: all;
  transition-duration: 500ms;
}

.aside button {
  justify-content: center;
  transition: all;
  transition-duration: 300ms;
}

.aside:hover button {
  transform: translateX(10%);
  justify-content: flex-start;
}

.aside:not(:hover) button > img {
  margin-right: 0;
}

.aside:not(:hover) button > p {
  display: none;
}

.aside .highlight {
  transform: translateX(-30%);
  transition: all;
  transition-duration: 300ms;
}

.aside:not(:hover) .highlight {
  transform: translateX(0);
}

.aside button:hover .highlight {
  opacity: 0.3 !important;
}

.aside:hover .highlight {
  transform: translateX(-10%);
}

.aside button > p {
  transform: translateX(100%);
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  opacity: 0;
  text-wrap: nowrap;
}

.aside:hover button>p {
  display: block;
  width: 80%;
  transform: translateX(0%);
  opacity: 1;
}
